
body{
    background-image: url(/assets/background-hexagonal-futuristic-net_23-2148335790.avif)  ;
    background-size: cover;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;

} 

header{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

 h1{
    font-size: 78px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px rgb(205, 230, 233);
    filter: drop-shadow(0 0 5px #09001d);
    text-decoration: none !important;
    align-self: center;

}

 p {
    font-size: 25px;
  margin-bottom: 40px;
    color: #fff;
    text-shadow: 0 0 10px rgb(205, 230, 233);
   

}

#startButton {
    width: 250px;
    height: 80px;
    background: #3862d6;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    cursor: progress;
    transition: .5s;
    align-self: center;
    align-items: center;


}
#startButton:hover{
    background-color: black;
    box-shadow: none;
    
}