body {
    background-image: url(assets/background-hexagonal-futuristic-net_23-2148335790.avif);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   

}

h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 10px rgb(205, 230, 233);
    filter: drop-shadow(0 0 5px #09001d);
    text-decoration: none !important;
    align-self: center;

}

p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin-bottom: 40px;
    color: #fff;
    text-shadow: 0 0 10px rgb(205, 230, 233);


}

#startButton {
    width: 250px;
    height: 80px;
    background: #e7c115;
    border: 5px solid #fff;
    border-radius: 20px;
    outline: none;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
    cursor: progress;
    transition: .5s;
    align-self: center;
    align-items: center;
    animation: glow 2s infinite linear;


}


@keyframes glow {
    from {
        box-shadow: 0 0 10px #007bff, 0 0 20px #09001d, 0 0 30px #007bff;
    }
    to {
        box-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
    }
}

#startButton:hover {
    background-color: #09001d;
    box-shadow: none;


}


.footer {
    text-align: center;
    margin-top: auto; 
    position: relative; 
   
}

.footer p {
    font-size: 26px;
    color: #1b1818;
    font-weight: 800;
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
    font-size: 32px;
}

.footer ul li a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #95e6e6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer ul li a:hover {
    color: #d5a917; 
}
